<p>

    Who? Here at CleanCodeArt, code doesn't just mean code, it's an art. Ever heard of dynamite coming in small packages? Well, here we are! Continue reading to find out what we can do for you. What? CleanCodeArt is a small and very creative team of passionate
    individuals. We pay attention to detail and pride ourselves in the craft by delivering good quality and maintanable software at all times. When and where? We started in 2017. We are situated in the Gauteng region and available to solve your next software
    problem. Why? We realized that alot of software programs are complicated and have messy code that is hard to maintain. We wanted to provide a cleaner solution to building software. To build software that explains itself.

</p>