<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navMenuToggle" aria-controls="navMenuToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navBarBrand" class="navbar-brand">Clean Code</div>
        </div>
        <div class="collapse navbar-collapse" id="navMenuToggle">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#"> About us </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> Services </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> Pricing </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> Contact </a>
                </li>
            </ul>
        </div>
    </div>
</nav>