<nav class="navbar navbar-expand-md bg-transparent fixed-top" role="navigation">
    <div class="container">
        <div id="navBarBrand" class="navbar-brand">Clean Code Art</div>
        <button id="navBarMenu" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navMenuToggle" aria-controls="navMenuToggle" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
        <div class="collapse navbar-collapse" id="navMenuToggle">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#"> About us </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> Services </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> Contact </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> Blog</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script>
    $(document).click {

    }
</script>